body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}
#app{
    background-color: greenyellow;
}
.line{
    background-color: chartreuse;
    height: 6px;
    width: 70px;
    margin: 8px auto;
}
#game{
    background-color: aqua;
}